[submodule "lib/lib_esp-idf-st7789/esp-idf-st7789"]
	path = lib/lib_esp-idf-st7789/esp-idf-st7789
	url = https://github.com/nopnop2002/esp-idf-st7789.git
[submodule "circuits/zube/zube/digikey-kicad-library"]
	path = circuits/zube/zube/digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library.git
[submodule "circuits/zube/zube/SparkFun-KiCad-Libraries"]
	path = circuits/zube/zube/SparkFun-KiCad-Libraries
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries.git
[submodule "components/Adafruit-GFX"]
	path = components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF.git
[submodule "components/CalEPD"]
	path = components/CalEPD
	url = https://github.com/martinberlin/CalEPD.git
[submodule "components/FT6X36-IDF"]
	path = components/FT6X36-IDF
	url = https://github.com/martinberlin/FT6X36-IDF.git
[submodule "components/epd_driver"]
	path = components/epd_driver
	url = https://github.com/martinberlin/epdiy-rotation.git
[submodule "lib/webserver"]
	path = lib/webserver
	url = ../webserver.git
[submodule "lib/rgb-ledc"]
	path = lib/rgb-ledc
	url = ../rgb-ledc.git
[submodule "lib/mathutil"]
	path = lib/mathutil
	url = ../mathutil.git
[submodule "lib/wifiinit"]
	path = lib/wifiinit
	url = ../wifiinit.git
[submodule "lib/nvs_init"]
	path = lib/nvs_init
	url = ../nvs_init.git

[submodule "components/hagl_hal"]
	path = components/hagl_hal
	url = https://github.com/tuupola/hagl_esp_mipi.git
[submodule "components/hagl"]
	path = components/hagl
	url = https://github.com/tuupola/hagl.git