menu "Presence Cube"

	menu "Light Control"
		menu "RGBA East"
			config RGBA_EAST_RED_CHANNEL_PIN
				int "Red PWM channel pin"
				range 0 46
				default 13
				help 
					Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.
					
			config RGBA_EAST_GREEN_CHANNEL_PIN
				int "Green PWM channel pin"
				range 0 46
				default 14
				help 
					Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

			config RGBA_EAST_BLUE_CHANNEL_PIN
				int "Blue PWM channel pin"
				range 0 46
				default 15
				help
					Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.
		endmenu

		menu "RGBA West"
			config RGBA_WEST_RED_CHANNEL_PIN
				int "Red PWM channel pin"
				range 0 46
				default 25
				help 
					Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.
					
			config RGBA_WEST_GREEN_CHANNEL_PIN
				int "Green PWM channel pin"
				range 0 46
				default 32
				help 
					Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

			config RGBA_WEST_BLUE_CHANNEL_PIN
				int "Blue PWM channel pin"
				range 0 46
				default 33
				help
					Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.
		endmenu

		config PWM_FADE_INTERVAL
			int "The time in milliseconds to fade from one duty cycle to the next"
			range 0 86400000
			default 3000

	endmenu


	menu "Wifi Settings"

		config ESP_WIFI_SSID
			string "WiFi SSID"
			default "myssid"
			help
				SSID (network name) for the example to connect to.

		config ESP_WIFI_PASSWORD
			string "WiFi Password"
			default "mypassword"
			help
				WiFi password (WPA or WPA2) for the example to use.
	endmenu

	menu "Hardware Characteristics"

		config CUBE_HARDWARE_RGB_LED_COUNT
		int "The count of GPIO adressable RGB diodes (see section Light Control)"
		range 0 128
		default 0

		choice HARDWARE_RGB_LED_TYPE
			prompt "LED Type"
			config HARDWARE_RGB_LED_TYPE_COMMON_ANODE
				bool "Common Anode"
			config HARDWARE_RGB_LED_TYPE_COMMON_CATHODE
				bool "Common Cathode"
			help
				This includes both LED diodes EAST and WEST
		endchoice
	endmenu
endmenu
